html{
    background-color: #111;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin:0
}

button{
    background-color: #444;
    color:white;
    border-radius: 5px;
}

#slackIDGetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    background-color: #181818;
    margin:auto;
    gap:10px;
    font-size: larger;
    
    padding:5px;

    border-radius: 20px;
    border:#bbb solid;
}

.projectBox{
    border-radius: 20px;
    background-color: #222;
    padding:5px;
    border: #444 solid 2px;
}

#siegeProjects{
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap:12px;
    margin-top: 20px;
    display:grid;
}

#userInfo{
    margin-left:20px;
    margin: 20px;
    display: flex;
    gap:20px;
    align-items:baseline;
}

#userInfo > *{
    background-color: #282828;
    border: #888 solid 2px;
    padding:10px;
    border-radius: 20px;
    margin:0
}

#coinIcon{
    height:2ch;
}

#hideBeforeID{
    display: none;
    margin:0 10px
}

#coins{
    margin:0;
}

footer{
    background-color: #444;

}