body{
    background-color: #333;
    color:white;
}

#slackIDGetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    background-color: #222;
    margin:auto;
    gap:10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    padding:5px;

    border-radius: 20px;
    border:#bbb solid;
}

.projectBox{
    border-radius: 20px;
    background-color: #282828;
}

#siegeProjects{
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:12px
}